@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@import "../styles/fonts.css";



:root {
  --background: #1f1f1f;
  --foreground: #fff7e0;

  --primary-light: #f8f9fa;
  --secondary-light: #F9C74F;
  --accent-light: #fb6107;
  --accent-s-light: #cc3734;
  --text-light: #7fb800;
  --text-s-light: #0d2c54; 

  --primary-dark: #0a192f;
  --secondary-dark: #244887;
  --accent-dark: #e4db74;
  --accent-s-dark: #f72870;
  --text-dark: #a6e22e;
  --text-s-dark: #ae81ff;

  --font-primary: 'AzeretMonoVariable', 'AzeretMono', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: var(--font-primary);
  font-variation-settings: 'wght' 300;
  font-weight: 300;
  font-size: 80%;
  line-height: 1.6;
  letter-spacing: 8%;

  transition: background-color 0.3s ease, color 0.3s ease;
}

/* h1, h2, h3, h4, h5, h6, p {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  h1, h2, h3, h4, h5, h6, p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  h1, h2, h3, h4, h5, h6, p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
} */

.font-light {
  font-variation-settings: 'wght' 300;
  font-weight: 300;;
}
.font-bold {
  font-variation-settings: 'wght' 700;
  font-weight: 700; 
}

.text-accent {
  text-decoration: none;
  color: var(--accent-secondary);
}

/* h1,h2{
  font-family: "ClashDisplayVariable", "ClashDisplay";
} */

.text-saccent {
  text-decoration: none;
  color: var(--accent);
}

.dark {
  background-color: var(--background);
  color: var(--text-dark);  
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --accent-secondary: var(--accent-s-dark);
  --text: var(--text-dark);
  --text-secondary: var(--text-s-dark);

  --cursor-color: rgba(253, 151, 31, 0.6);
  --cursor-hover: rgba(247, 40, 112, .6);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: var(--foreground);
  color: var(--text-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --accent-secondary: var(--accent-s-light);
  --text: var(--text-light);
  --text-secondary: var(--text-s-light);

  --cursor-color: rgba(131, 195, 3, 0.6);
  --cursor-hover: rgba(255, 216, 123, 1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.titlee{
  font-family: var(--font-primary);
  color: var(--accent);
  display: inline-block;
  all: unset;
}

.cursor {
  background-color: var(--cursor-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--accent);
}

button {
  color: var(--);
  border-radius: 5px;
  cursor:pointer;
  font-family: var(--font-primary);
  font-variation-settings: 'wght' 400; /* Default weight */
  font-weight: 400; /* Fallback */
}

button:hover {
  color: var(--accent);
  transition: background-color 0.3s ease, color 0.3s ease;
}

textarea {
  color: var(--text);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* 
* {
  cursor: none;
} */

/* 
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  color: var(--text);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

/*  
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */


/* 
[data-theme="light"] {
  background: var(--foreground);
  color: var(--background);
  --primary: #f8f9fa;
  --secondary: #e9ecef;
  --accent: #0077b6;
  --text: #212529;
  --text-secondary: #3a5571;
  transition: background-color 0.3s ease, color 0.3s ease;
} */